@media (min-width:600px){

/*header*/
    header .title{
        font-size: 1.9em;
        padding: 1em;
        width: 90%;
     
}
/*main*/
    .container{
       max-width: 100%;
       padding: 1.3em;
    }
    
    .container .description{
        font-size: 1.1em;
        font-weight:700 ;
        padding-bottom: 1em;
        }
        /*form*/
    .wrapper{
        grid-template-columns:20%  70%;
        gap:0.1em;
        width:600px;
        width:100%;        

    }  
    /*form heading*/
        .wrapper .brand{
                grid-column: 1;
                margin-left: 0;
        }
        .wrapper .logo{
            background-color: var(--border-color);
            color: var(--text-color);
            min-width: 48px;
            min-height:48px;
            padding: 1.6em;
            border: solid 1px var(--border-color);
            border-radius: 8px;
            box-shadow: 0 0 2px 4px rgba(32, 31, 39, 0.3);
            font-weight: 600;
            transition: all 3s ease-in-out;
         
        
        }
        /*label and input*/
        .wrapper .form-control{
            grid-column: 2 / 3;
            margin-left: 0;
        }
        .form-control.intro label{
            font-size: 1.1em;
            padding:1em 0 ;
            font-weight: 600;
        
        }
        .intro input{           
            background-color:transparent
        }
        .input-focus{
            top:14.5em;          
          
        }
        .form-control input::placeholder{
            color: rgb(136, 136, 142);
        }
        .radio-buttons legend{            
            font-size: 1.1em;           
        }
           
        .radio-buttons label {    
               font-size: 1em;    
        }
        /*footer*/
        .footer .description{
            font-size: 1.1em;
            color: var(--border-color);
        
        }
        footer h2{
        color: var(--text-color);
        font-size: 1.3em;
        }
        

}