form{
    width:40vw;
    margin:auto;
    display:flex;
    flex-direction: column;
  
    
    background-color: rgba(248, 209, 209, 0.85);
    

}
h1,h2 {
    text-align: center;
}
button{
    width:25%;
    padding: 15px;

}
input{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
