

html {
    background-color: #DEE2F7;
    font-size: 1rem;
}

fieldset{
    border: 0;
    
}
  
body {
    font-family: "Heebo", sans-serif;
    margin:auto;
    color: #fff;
    width: 50%;
}
h1 {
    color: #000;
    margin-left: 3rem;
    font-weight: 900;

}
form {
    background-color: #332036;
    padding: 2rem;
    border-radius: 1rem;
    margin: 20px;
}
label, legend, p {
    font-weight: 500;
    margin-left: 1rem;
    
}
fieldset {
    margin-bottom: 1rem;
    border: 0;
}
input[type=text],input[type=email] {
    width: 50%;
    padding: 10px 20px;
    margin: 15px 0;
    box-sizing: border-box;
    background-color: #9AE5E6;
    border-radius: 15px;
    
}

::placeholder {
    font-size: 0.8rem;
    color: #000;
}
::-webkit-input-placeholder {
    font-size: 0.8rem;
    color: #000;
}
input[type=radio] {
    width: 1rem;
    height: 1rem;
    margin-bottom: 1rem;
    
}
.red {
    accent-color: red;  
}
.green {
    accent-color: green;  
}
.blue {
    accent-color: blue;  
}

p {
    margin-top: 7rem;
}
select {
    font-size: 0.8rem;
}
input[type=date] {
    width: 40%;
    font-size: 1rem;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #9AE5E6;
    border-radius: 10px;

}
input[type=submit] {
    width: 30%;
    
}
input[type=submit], input[type=reset] {
    background-color: #F46197;
    border: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 6px;
    cursor: pointer
    border: 10px solid #F46197;
    border-radius: 10px;



}
 input:focus {
     background-color: #DEBFBA;
 }

h2 {
    color: #000;
}