@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

/* We don’t want the logo to have a purple border. 
The logo has an ID of logo, make sure this has no border. */
#logo {
  border: none;
}

nav {
  display: inline-block;
  width: 100%;
}

header ul {
  margin: 20px 0 0 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

section {
  padding: 5%;
  background-color: #f8f0fb;
}

h1,
h2,
h3,
h4,
h5 {
  /*Purple*/
  color: #6320ee;
  margin-bottom: 1em;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

/* Most of the text on the page is very close together. Increase the amount of space of the text so that there's more breathing space. */
p {
  line-height: 1.6rem;
}

/* The buttons are a little hard to read. 
We’d like the buttons to have larger text */
button {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #372772;
  border: 2px solid black;
  color: #fff;
  font-size: 1.4rem;
}

/* and also to change colour when you hover and focus on them. */
button:hover,
button:focus {
  background-color: hsl(250, 46%, 60%);
}


footer {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* The first section has a class name of ‘introduction’. Give this section a white background. */
.introduction {
  background-color: hsl(0, 0%, 100%);
}

/* The badge that says ‘Opening 2021’ we’d like to be on the top right instead of the bottom right. */
#badge {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* When a user hovers over the badge,
add a transition so the change in colour is smoother. */
#badge:hover {
  transition: background-color 1s ease;
  background-color: yellow;
}

#badge p {
  text-align: center;
  font-size: 125%;
}

.image-container img {
  vertical-align: top;
  border: 5px solid #747c92;
}

/* The images of the bears are also misaligned. Can all these images be vertically aligned to the top of the container. */
.image-container img {
  vertical-align: top;
}

/* All the images of bears have the same border colour,
can all these images be given a different border colour? */
.image-container img:nth-child(1) {
  border: 0.3rem solid hsl(43, 26%, 71%);
}

.image-container img:nth-child(2) {
  border: 0.3rem solid hsl(84, 3%, 72%);
}

.image-container img:nth-child(3) {
  border: 0.3rem solid hsl(211, 29%, 65%);
}

.tigers {
  background-color: #0b3c49;
  color: #f0e100;
}

.tigers h2 {
  color: #f0e100;
}

.tigers ul {
  line-height: 2rem;
}

/* Change the background colour to #483C46 */
.giraffe {
  background-color: #483C46;
  color: #56e39f;
}

/* (I want the h2 colour to match the h3 colour) */
.giraffe h2 {
  color: #F4743B;
}

/* the section titles to #F4743B */
.giraffe h3 {
 color: #F4743B;
}

/* and the paragraph color to #BEEE62 */
.giraffe p {
  color: #BEEE62;
}

/* Make the first paragraph have a larger font size. */
.giraffe p:first-of-type {
  font-size: 1.2rem;
}

/* Baz Favourite Animal: Wombat! Section ^_^ */
.wombat  {
  background-color: hsl(174, 72%, 70%);
}

.wombat h2,
.wombat h3 {
  color: hsl(300, 100%, 50%);
}

.wombat-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.wombat-gallery img {
  display: block;
  max-width: 20rem;
  border: 0.3rem solid hsl(300, 100%, 50%);
  border-radius: 0.5rem;
}

/* Can the title of this section be centred in the middle of this page? */
.news h2 {
  text-align: center;
}

/* added a div flexbox for the cards */
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  flex-basis: 30%;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.card a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

.card time {
  opacity: 0.5;
}

/*Education*/

.education {
  height: 500px;
  background-image: url("https://source.unsplash.com/1200x900/?tiger");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 5%;
}

/* We don’t like the hard corners here. 
Can you give the container in the section some rounded corners? */
.education-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px;
  max-width: 400px;
  border-radius: 0.5rem;
}

.education-container h3,
.education-container p {
  margin-bottom: 1em;
}

/*Membership*/
.membership {
  text-align: center;
  background-color: #fffffc;
}

.membership h2 {
  color: #ff3f00;
}

/* Give the paragraph a maximum width of 700 pixels,
and keep in the middle by adjusting the margin. */
.membership p {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.membership strong {
  color: #ff7f11;
}

/*Programs*/

/* The cards are stacked on top of each other which looks like a poor use of space. Change these so that they display horizontally across the screen. */
.programs-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
