* {
  font-family: sans-serif;
  
 
  
}

header {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

nav {
  display: inline-block;
  width: 100%;
}

header ul {
  margin: 20px 0 0 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

section {
  padding: 5%;
  background-color: #f8f0fb;
}

img {
  border: 5px solid black;
}

h1,
h2,
h3,
h4,
h5 {
  /*Purple*/
  color: #6320ee;
  margin-bottom: 10px;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
  color: rgb(209, 66, 22);
  text-align: center;
}

h3 {
  font-size: 1rem;
  color: rgb(235, 15, 206);
  text-align: center;
}

button:hover {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #372772;
  border: 2px solid black;
  color: #fff;
  font-size: 1.25rem;
  }
  #container
  {
    text-align: center;
  }

footer {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.introduction {
}

#badge {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#badge:hover {
  background-color: yellow;
}

#badge p {
  text-align: center;
  font-size: 125%;
}

.image-container img {
  vertical-align: top;
  border: 5px solid #0041f5;
}

.image-container img:first-of-type {
  vertical-align: bottom;
}

.image-container img:first-of-type {
  vertical-align: bottom;
  border-color: #ff3f00;
}

.image-container img:last-of-type {
  vertical-align: bottom;
  border-color: aqua;
}
.tigers {
  background-color: #0b3c49;
  color: #f0e100;
}

.giraffe {
  background-color: #483C46;
  color:#BEEE62;
  

}

.giraffe h2 {
  color: #ef6f6c;
  font-size: #F4743B;
}

.box>.container {
  display: flex;
  flex-direction: row;
   background-color: rgb(15, 223, 136);
   padding: 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  
}

.box {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 5px;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px; 

}

/*Education*/

.education {
  height: 500px;
  background-image: url("https://source.unsplash.com/1200x900/?tiger");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 5%;
  text-align: center;
}

.container {
  background-color: rgba(20, 214, 62, 0.75);
  padding: 50px;
  max-width: 400px;
  text-align: center;
  margin-bottom: 1em;
  background-position: center;
  width: 700px;
  margin: 2rem auto;
  
}



/*Membership*/

.membership p{
  text-align: center;
  background-color: #fffffc;
  width: 700px;
  margin: 2rem auto;
}

.membership h2 {
  color: #ff3f00;
}

.membership strong {
  color: #ff7f11;
}

/*Programs*/

.programs {
 
  text-align: center;
}
.programs>.container {
  display: flex;
  flex-direction: row;
  background-color: blue;
}
.card {
  text-align: center;
  display: block;
  background-color: white;
  padding: 20px;
  margin: 5px;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
}



  
