* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #5d5d81;
    
}

/* header */
header {
    margin-top: 3rem;
}

.main-heading, .sub-heading {
    display: flex;
    justify-content: center;
    flex-direction: row wrap; 
}

.main-heading h1 {
    font-family: 'Kalam', cursive, sans-serif;
    color: #fefcfd;
    font-size: 1.8rem;
    text-align: center;
}

.sub-heading h3 {
    color: #fefcfd;
    font-size: .8rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 450px) {
   .main-heading h1 {
       font-size: 2.3rem;
   }
   .sub-heading h3 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .main-heading h1 {
       font-size: 2.6rem;
   }
   .sub-heading h3 {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 800px) {
    .main-heading h1 {
       font-size: 2.9rem;
   }
   .sub-heading h3 {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1000px) {
    .main-heading h1 {
       font-size: 3.9rem;
   }
   .sub-heading h3 {
        font-size: 1.8rem;
    }
}

/* header */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
}

img {
    width: 60px;
}

.article-1 {
    /* change the width of the card on breaking points */
    width: 300px;
    margin: 2rem;
    background-color: #BFCDE0;
    box-shadow: 5px 10px 18px #0b0a0a;

}

.card1 {
    margin: .9rem;
    
}

.card1-photo {
    display: flex;
    margin-bottom: 1rem;
}

.card1-photo h3 {
    font-family: 'Kalam', cursive, sans-serif;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.card-text p {
    font-family: 'Kalam', cursive, sans-serif;
    padding: .3rem 0;
    font-size: .9rem;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 1rem 0;   
}

footer p {
    color: #fefcfd;
    font-size: .9rem;
    font-family: 'Kalam', cursive, sans-serif;
}

@media screen and (min-width:450px) {
    .article-1 {
        width: 320px;
    }
    img {
        width: 80px;
    }
    .card1-photo h3 {
        font-size: 1.3rem;
    }

    .card-text p {
        font-size: 1rem;
        height: 65px;
    }
    footer p {
     font-size: 1rem;
    }
    
}

@media screen and (min-width:600px) {
    .article-1 {
        width: 400px;
    }
    img {
        width: 100px;
    }
    .card1-photo h3 {
        font-size: 1.5rem;
    }

    .card-text p {
        font-size: 1.2rem;  
    }
    footer p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 800px) { 
    footer p {
        font-size: 1.4rem;
    }
    
}

@media screen and (min-width:1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .article-1 {
        width: 1000px;
        padding: 0 rem;
    }
    img {
        width: 200px;
    }
    .card1-photo h3 {
        font-size: 3rem;
    }

    .card-text p {
        font-size: 2rem;
        height: 135px;
    }
    footer p {
        font-size: 1.6rem;
    }
}





